@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'ProximaNova';
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:ring-0 focus:ring-yellow-500 active:from-yellow-500;
  }
  .button:focus {
    @apply outline-none;
  }
}

.toggle-path {
  transition: background 0.3s ease-in-out;
}
.toggle-circle {
  top: 0.2rem;
  left: 0.25rem;
  transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle-circle {
  transform: translateX(100%);
}
input:checked ~ .toggle-path {
  background-color: #81e6d9;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/Nova/ProximaNova-Thin.ttf');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/Nova/ProximaNova-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/Nova/ProximaNova-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/Nova/ProximaNova-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/Nova/ProximaNova-Semibold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/Nova/ProximaNova-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/Nova/ProximaNova-ExtraBld.ttf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
